@model IEnumerable<BulkyBook.Models.Product>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="card p-1" style="border: 1px solid #008cba; border-radius: 5px;">

                </div>
            </div>
        </div>

    }
</div>