@if(TempData["success"] != null) 
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <h2>@TempData["success"]</h2>
}

@if(TempData["error"] != null)
{
    <h2>@TempData["error"]</h2>
}